.centered-slide-content {
  margin: auto;
  position: absolute;
  top: 58%;
  left: 0;
  right: 0;
  transform: translate(0%, -50%);
}

.col {
  flex: 1;
  vertical-align: middle;
}

*.inline-code {
  font-size: smaller;
  color: aqua;
}

.plan {
  line-height: 175%;
}

.slides > section > section {
  width: 100%;
  height: 100%;
}

.two-columns-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-align {
  vertical-align: middle;
}

legend {
  font-size: x-large;
  font-style: italic;
}

li.practice-goal {
  list-style-type: '🛠️';
  padding-inline-start: 1ch;
}

li.practice-constraint {
  list-style-type: '🔐';
  padding-inline-start: 1ch;
}

li.practice-question {
  list-style-type: '🤔';
  padding-inline-start: 1ch;
}

li.practice-success {
  list-style-type: '🎉';
  padding-inline-start: 1ch;
}

li.definition {
  list-style-type: '📘';
  padding-inline-start: 1ch;
}
